


.bid_container{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    height: 100vh;
    /* background: url("https://res.cloudinary.com/dobdrg18h/image/upload/v1729758813/auction1_ysnjhj.jpg") no-repeat fixed center; */
    background: rgb(44,39,133);
background: linear-gradient(90deg, rgba(44,39,133,1) 2%, rgba(179,31,176,0.8185399159663865) 53%, rgba(0,212,255,1) 86%);

}

.card_container{
    display: flex;
    flex-direction: column;
    margin: 12px;
    align-items: center;
    justify-content: center;

    width:70%;
    height: 200px;
    /* border: 2px solid red; */
}

.roll_ball{

    height: 80%;
    width: 80%;
    background-color: antiquewhite;
    border: 2px solid blue;
}



.roll_ball>img{
    height: 100%;
    width: 100%;
}




.show_card{
    height: 80%;
    width: 80%;
    background-color: rgb(15, 9, 1);
    color: white;
    border-radius: 20px;
    /* border: 2px solid red; */
    box-shadow: 10px 10px 4px rgb(56, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: Georgia, serif;
    

}
.show_card:hover{
    transform: rotateX(10deg) rotateY(8deg) ;;
}





.btn_container{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.btn_container>a>input{
    text-align: center;
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(179,31,176,0.8185399159663865) 64%, rgba(0,212,255,1) 100%);
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-family:font-serif ;
    width: 93%;
}

.btn{
    border: 1px soid black;
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    
    margin: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(179,31,176,0.8185399159663865) 64%, rgba(0,212,255,1) 100%);
    color: white;
    font-family:font-serif ;

}

#btn-1{
    margin-top: 40px;
}











/* profile card  */

.profile{
    width: 50%;
    margin: 2% auto;
    
}

.full_container{
    
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
  }



/* search bar in the admin dashboard */
#search_bar{
    background-color: transparent;
    border: 1px sold white;
    border-radius: 4px;
    color: yellow;
    
}





/* players by team css
*/


.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    color: black;
  }
  

  th{
    background-color: aqua;
    font-size: 16px;
  }

  .head_attribute{
    padding-left: 6px;
  }


  .row_attribute>td{
    padding-left: 6px;
  }
  
  .row > tr {
    text-align: center;
    font-size: 12px;
  }
  
  .row:nth-child(even) {
    background-color: #d0caca;
  }
  
 
  
  .table__container {
    overflow-x: auto;
  }

  .pbt_img{
    
    width: 30%;
    margin-left: 20%;

  }




  /* Contact page */

  .contact_container{
    
    width: 60%;
    margin:  5% auto;
    background-color:#e5bb94 ;
    border-radius: 16px;

  }
  .contact_content{
    padding: 5%;
    
  }

  .contact_title{
    font-size: 34px;
    font-family:  sans-serif;
    text-align: center;

  }

  .contact_para{
    font-size: 20px;
    line-height: 40px;
  }
  .contact_para:first-of-type{
     font-weight: bold;
    
  }



  /* switch css */

  /* From Uiverse.io by guilhermeyohan */ 

  .full_container_form{
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    margin: 0 0;
    height: 100vh;
    margin-top: -5%;
}

  


.form_control_container{
  width: 180px;
  height: 40vh;
  background-color: rgb(177, 195, 195);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.form_control_container>h1{
  font-size: 20px;
  padding: 5px;
  color: rgb(16, 0, 0);
  font-family: 'Niconne', cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 
              
              
              
  
}
.checkbox-apple {
  position: relative;
  width: 50px;
  height: 25px;
  margin: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-apple label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox-apple label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.checkbox-apple input[type="checkbox"]:checked + label {
  background: linear-gradient(to bottom, #4cd964, #5de24e);
}

.checkbox-apple input[type="checkbox"]:checked + label:after {
  transform: translateX(25px);
}

.checkbox-apple label:hover {
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
}

.checkbox-apple label:hover:after {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.yep {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
}




/* loader */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 







  /* no form available card css */


  :root {
    --secondary: #124961;
    --primary: #ffffff;
    --text: #5d5d5d;
    --font-family: 'Montserrat', sans-serif;
    --box-radius: 10px;
    --xxl-font: 90px;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  /* body {
    background-image: linear-gradient(to right, #2991bb, #1f4e85);
  } */
  
  .boxes-box {
    width: 100%;
    display: flex;
    justify-content: center;
    
    
   
  }
  
  
  .box {
    max-width: 300px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 50px;
    border-radius: var(--box-radius);
    background-color: var(--primary);
    position: relative;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .box-header {
    height: 150px;
    border-top-right-radius: var(--box-radius);
    border-top-left-radius: var(--box-radius);
    color: var(--primary);
    position: relative;
  }
  
  .box-header.success {
    background-image: linear-gradient(to right, #cef4ae, #78e1b4);
  }
  
  .box-header.alert {
    background-image: linear-gradient(to right, #f4e9ae, #d9b85e);
  }
  
  .box-header.danger {
    background-image: linear-gradient(to right, #f4c0a9, #da6161);
  }
  
  .box-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--xxl-font);
  }
  
  .box-header.success .box-icon {
    text-shadow: 2px 3px 4px #90d9a8;
  }
  
  .box-header.alert .box-icon {
    text-shadow: 2px 3px 4px #d9b85e;
  }
  
  .box-header.danger .box-icon {
    text-shadow: 1px 2px 3px #da6161;
  }
  
  .box-content {
    background-color: var(--primary);
    color: var(--text);
    font-family: var(--font-family);
    text-align: center;
    margin: 12% 5%;
  }
  
  .box-content h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  








 

  




